
menuconfig MEDIATEK_SOLUTION
	bool "MediaTek Properitary Configuration"
	select FW_LOADER_USER_HELPER_FALLBACK
	select I2C
	help
	  Check this to enable MediaTek properity configuration.

if MEDIATEK_SOLUTION

config MTK_PLATFORM
	string "MTK platform name"

config ARCH_MTK_PROJECT
	string "MTK project name"

menu "Modem & Connectivity related configs"

#source "drivers/misc/mediatek/btcvsd/Kconfig"
source "drivers/misc/mediatek/btif/Kconfig"
#source "drivers/misc/mediatek/ccci_util/Kconfig"
#source "drivers/misc/mediatek/ccmni/Kconfig"
source "drivers/misc/mediatek/connectivity/Kconfig"
#source "drivers/misc/mediatek/conn_md/Kconfig"
#source "drivers/misc/mediatek/dual_ccci/Kconfig"
#source "drivers/misc/mediatek/eccci/Kconfig"
#source "drivers/misc/mediatek/nfc/Kconfig"
#source "drivers/misc/mediatek/ssw/Kconfig"

config MTK_VOLTE_SUPPORT
	bool
	default n
	depends on !CRYPTO_NULL || !CRYPTO_SHA512 || !CRYPTO_XCBC || !CRYPTO_CTR
	help
	  dummy option for dependency check.if MTK_VOLTE_SUPPORT is set,
	  CRYPTO_NULL && CRYPTO_SHA512 && CRYPTO_XCBC are not set, build error will happen.
	  CRYPTO_NULL && CRYPTO_SHA512 && CRYPTO_XCBC are set, build error will be fixed; when
	  MTK_VOLTE_SUPPORT is not set, there is no error whatever CRYPTO_NULL or CRYPTO_SHA512
	  or CRYPTO_XCBC are set or not

config MTK_EPDG_SUPPORT
	bool
	default n
	depends on !XFRM_USER || !XFRM_SUB_POLICY
	help
	  dummy option for dependency check.if MTK_EPDG_SUPPORT is set,
	  XFRM_USER && XFRM_SUB_POLICY  are not set, build error will happen.  XFRM_USER &&
	  XFRM_SUB_POLICY are set, build error will be fixed; when MTK_EPDG_SUPPORT is not
	  set, there is no error whatever XFRM_USER && XFRM_SUB_POLICY  are set or not


endmenu  # CONN

endif
