// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2019 MediaTek Inc.
 * Copyright (c) 2024 Val Packett <val@packett.cool>
 */

#include <dt-bindings/input/input.h>

&pwrap {
	pmic: pmic {
		compatible = "mediatek,mt6392", "mediatek,mt6323";
		interrupt-controller;
		#interrupt-cells = <2>;

		keys {
			compatible = "mediatek,mt6392-keys";

			key-power {
				linux,keycodes = <KEY_POWER>;
				wakeup-source;
			};

			key-home {
				linux,keycodes = <KEY_HOME>;
				wakeup-source;
			};
		};

		pio6392: pinctrl {
			compatible = "mediatek,mt6392-pinctrl";

			gpio-controller;
			#gpio-cells = <2>;
		};

		rtc {
			compatible = "mediatek,mt6392-rtc",
				"mediatek,mt6323-rtc";
		};

		mt6392regulators: regulators {
			/* Fixed supply defined in the data sheet */
			avddldo-supply = <&mt6392_vsys_reg>;

			mt6392_vcore_reg: vcore { };
			mt6392_vproc_reg: vproc { };
			mt6392_vsys_reg: vsys { };
			mt6392_vaud28_reg: vaud28 { };
			mt6392_vxo22_reg: vxo22 { };
			mt6392_vaud22_reg: vaud22 { };
			mt6392_vadc18_reg: vadc18 { };
			mt6392_vcama_reg: vcama { };
			mt6392_vcn35_reg: vcn35 { };
			mt6392_vio28_reg: vio28 { };
			mt6392_vusb_reg: vusb { };
			mt6392_vmc_reg: vmc { };
			mt6392_vmch_reg: vmch { };
			mt6392_vemc3v3_reg: vemc3v3 { };
			mt6392_vcamaf_reg: vcamaf { };
			mt6392_vgp1_reg: vgp1 { };
			mt6392_vgp2_reg: vgp2 { };
			mt6392_vefuse_reg: vefuse { };
			mt6392_vm25_reg: vm25 { };
			mt6392_vdig18_reg: vdig18 { };
			mt6392_vm_reg: vm { };
			mt6392_vio18_reg: vio18 { };
			mt6392_vcn18_reg: vcn18 { };
			mt6392_vcamd_reg: vcamd { };
			mt6392_vcamio_reg: vcamio { };
			mt6392_vrtc_reg: vrtc {	};
		};
	};
};
