// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2025 FIXME
 */
/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/linux-event-codes.h>
#include "mt8167.dtsi"
#include "mt6392.dtsi"

/ {
	model = "Xiaomi Mi Smart Clock";
	chassis-type = "embedded";
	compatible = "xiaomi,x04g", "mediatek,mt8167";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		bootargs = "console=tty0 console=ttyS0,921600n1 earlycon=uart8250,mmio32,0x11005000 PMOS_NOSPLASH";
		ranges;

		stdout-path = &framebuffer0;

		framebuffer0: framebuffer@7f1c0000 {
			compatible = "simple-framebuffer";
			reg = <0x0 0x7f1c0000 0x0 (800 * 480 * 4)>;
			width = <480>;
			height = <800>;
			stride = <(480 * 4)>;
			format = "a8r8g8b8";
			display = <&dsi>; /* hmm */
		};
	};

	extcon_usb: extcon_iddig {
		compatible = "linux,extcon-usb-gpio";
		id-gpios = <&pio 41 GPIO_ACTIVE_HIGH>;
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0 0x40000000 0 0x20000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		atf-reserved-memory {
			reg = <0x00 0x54600000 0x00 0x30000>;
			no-map;
		};

		consys-reserve-memory {
			size = <0x00 0x200000>;
			alignment = <0x00 0x200000>;
			no-map;
		};
	};

	vbat: regulator-vbat-sys {
		compatible = "regulator-fixed";
		regulator-name = "vbat";
		regulator-always-on;
		regulator-boot-on;
	};
};

&auxadc {
	status = "okay";
};

/* With the firmware on Android devices, cores don't seem to come back after out
   idle/unplug (though initial SMP boot is fine) */

&cpu0 {
	/delete-property/ cpu-idle-states;
	proc-supply = <&mt6392_vproc_reg>;
};

&cpu1 {
	/delete-property/ cpu-idle-states;
	proc-supply = <&mt6392_vproc_reg>;
};

&cpu2 {
	/delete-property/ cpu-idle-states;
	proc-supply = <&mt6392_vproc_reg>;
};

&cpu3 {
	/delete-property/ cpu-idle-states;
	proc-supply = <&mt6392_vproc_reg>;
};

&disp_pwm {
	status = "okay";
};

&mipi_tx {
	status = "okay";
};

&dsi {
	status = "okay";

	panel: panel@0 {
		reg = <0>;
		compatible = "zhunyikeji,z40046-ctc", "jadard,jd9365da-h3";

		pinctrl-names = "default";
		pinctrl-0 = <&panel_pins>;

		backlight = <&backlight_lcd>;
		reset-gpios = <&pio 66 GPIO_ACTIVE_LOW>;
		rotation = <270>;
		vccio-supply = <&mt6392_vio28_reg>;
		vdd-supply = <&mt6392_vio18_reg>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};
};

&dsi_out {
	remote-endpoint = <&panel_in>;
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c_pins_0>;
	clock-div = <1>;
	status = "okay";

	/* Ambient light/presence sensor is Epticore EM30719,
	   driver is epticore,em3071x, provided by CONFIG_EM3071X. */
	em3071x@24 {
		reg = <0x24>;
		compatible = "epticore,em3071x";

		interrupt-parent = <&pio>;
		interrupts = <10 IRQ_TYPE_LEVEL_LOW>;
		vcc-supply = <&mt6392_vgp2_reg>;
	};
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c_pins_1>;
	status = "okay";

	/* es7243 mi,es7243 @ 13 */
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c_pins_2>;
	status = "okay";

	/* Touch panel controller is Chipsemi CHSC6440, stock calls it tlsc6x_touch,
	   driver is compatible with FT6236, provided by CONFIG_TOUCHSCREEN_EDT_FT5X06. 
	   The very similar Lenovo Smart Clock sources actually point to focaltech,ft6336,
	   however this variant is not supported upstream yet. */
	touch@2e {
		reg = <0x2e>;
		compatible = "focaltech,ft6236";

		interrupt-parent = <&pio>;
		interrupts = <18 IRQ_TYPE_EDGE_FALLING>;
		vcc-supply = <&mt6392_vgp1_reg>;
		iovcc-supply = <&mt6392_vgp1_reg>;

		touchscreen-size-x = <480>;
		touchscreen-size-y = <800>;

		wakeup-source;
	};
};

&keypad {
	status = "okay";
	debounce-delay-ms = <32>;
	
	pinctrl-names = "default";
	pinctrl-0 = <&keypad_pins>;

	keypad,num-rows = <1>;
	keypad,num-columns = <1>;
	linux,keymap = <MATRIX_KEY(0x00, 0x00, KEY_VOLUMEUP)>;
	mediatek,keys-per-group = <1>;
};

&mmc0 {
	status = "okay";

	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc0_pins_default>;
	pinctrl-1 = <&mmc0_pins_uhs>;

	bus-width = <8>;
	max-frequency = <200000000>;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	cap-mmc-hw-reset;
	non-removable;

	vmmc-supply = <&mt6392_vemc3v3_reg>;
	vqmmc-supply = <&mt6392_vio18_reg>;
};

&pio {
	i2c_pins_0: i2c0-pins {
		pins_i2c {
			bias-disable;
			pinmux = <MT8167_PIN_58_SDA0__FUNC_SDA0_0>,
				 <MT8167_PIN_59_SCL0__FUNC_SCL0_0>;
		};
	};

	i2c_pins_1: i2c1-pins {
		pins_i2c {
			bias-disable;
			pinmux = <MT8167_PIN_52_SDA1__FUNC_SDA1_0>,
				 <MT8167_PIN_53_SCL1__FUNC_SCL1_0>;
		};
	};

	i2c_pins_2: i2c2-pins {
		pins_i2c {
			bias-disable;
			pinmux = <MT8167_PIN_60_SDA2__FUNC_SDA2_0>,
				 <MT8167_PIN_61_SCL2__FUNC_SCL2_0>;
		};
	};

	keypad_pins: keypad-pins {
		pins_cols {
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
			input-enable;
			pinmux = <MT8167_PIN_42_KPCOL0__FUNC_KPCOL0>;
		};
	};

	mmc0_pins_default: mmc0-default-pins {
		pins_cmd_dat {
			pinmux = <MT8167_PIN_120_MSDC0_DAT0__FUNC_MSDC0_DAT0>,
				 <MT8167_PIN_119_MSDC0_DAT1__FUNC_MSDC0_DAT1>,
				 <MT8167_PIN_118_MSDC0_DAT2__FUNC_MSDC0_DAT2>,
				 <MT8167_PIN_117_MSDC0_DAT3__FUNC_MSDC0_DAT3>,
				 <MT8167_PIN_113_MSDC0_DAT4__FUNC_MSDC0_DAT4>,
				 <MT8167_PIN_112_MSDC0_DAT5__FUNC_MSDC0_DAT5>,
				 <MT8167_PIN_111_MSDC0_DAT6__FUNC_MSDC0_DAT6>,
				 <MT8167_PIN_110_MSDC0_DAT7__FUNC_MSDC0_DAT7>,
				 <MT8167_PIN_115_MSDC0_CMD__FUNC_MSDC0_CMD>;
			bias-pull-up;
		};

		pins_clk {
			pinmux = <MT8167_PIN_116_MSDC0_CLK__FUNC_MSDC0_CLK>;
			bias-pull-down;
		};

		pins_rst {
			pinmux = <MT8167_PIN_114_MSDC0_RSTB__FUNC_MSDC0_RSTB>;
			bias-pull-up;
		};
	};

	mmc0_pins_uhs: mmc0-uhs-pins {
		pins_cmd_dat {
			pinmux = <MT8167_PIN_120_MSDC0_DAT0__FUNC_MSDC0_DAT0>,
				 <MT8167_PIN_119_MSDC0_DAT1__FUNC_MSDC0_DAT1>,
				 <MT8167_PIN_118_MSDC0_DAT2__FUNC_MSDC0_DAT2>,
				 <MT8167_PIN_117_MSDC0_DAT3__FUNC_MSDC0_DAT3>,
				 <MT8167_PIN_113_MSDC0_DAT4__FUNC_MSDC0_DAT4>,
				 <MT8167_PIN_112_MSDC0_DAT5__FUNC_MSDC0_DAT5>,
				 <MT8167_PIN_111_MSDC0_DAT6__FUNC_MSDC0_DAT6>,
				 <MT8167_PIN_110_MSDC0_DAT7__FUNC_MSDC0_DAT7>,
				 <MT8167_PIN_115_MSDC0_CMD__FUNC_MSDC0_CMD>;
			input-enable;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};

		pins_clk {
			pinmux = <MT8167_PIN_116_MSDC0_CLK__FUNC_MSDC0_CLK>;
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins_rst {
			pinmux = <MT8167_PIN_114_MSDC0_RSTB__FUNC_MSDC0_RSTB>;
			bias-pull-up;
		};
	};

	panel_pins: dsi0-pins {
		pins_rst {
			pinmux = <MT8167_PIN_66_LCM_RST__FUNC_GPIO66>;
			bias-pull-up;
		};
	};
};

&pmic {
	interrupts-extended = <&pio 28 IRQ_TYPE_LEVEL_HIGH>;

	keys {
		key-home {
			linux,keycodes = <KEY_VOLUMEDOWN>;
		};
	};
};

&uart0 {
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "peripheral";
	usb-role-switch;
	
	//vusb33-supply = <&mt6392_vusb_reg>;

	usb_con: connector {
		compatible = "usb-b-connector";
		type = "micro";
	};
};

&usb_phy {
	status = "okay";
};

&mt6392regulators {
	vproc-supply = <&vbat>;
	vcore-supply = <&vbat>;
	vsys-supply = <&vbat>;
	ldo1-supply = <&vbat>;
	ldo2-supply = <&vbat>;
	ldo3-supply = <&vbat>;
};

&mt6392_vcore_reg {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <1350000>;
	regulator-always-on;
	regulator-boot-on;
};

&mt6392_vproc_reg {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <1350000>;
	regulator-always-on;
	regulator-boot-on;
};

&mt6392_vsys_reg {
	regulator-always-on;
	regulator-boot-on;
};

&mt6392_vaud28_reg {
	regulator-always-on;
	regulator-boot-on;
};

&mt6392_vxo22_reg {
	regulator-always-on;
	regulator-boot-on;
};

&mt6392_vaud22_reg {
	regulator-always-on;
	regulator-boot-on;
};

&mt6392_vadc18_reg {
	regulator-always-on;
	regulator-boot-on;
};

&mt6392_vio28_reg {
	regulator-always-on;
	regulator-boot-on;
};

&mt6392_vusb_reg {
	regulator-always-on;
	regulator-boot-on;
};

&mt6392_vmc_reg {
	regulator-boot-on;
};

&mt6392_vmch_reg {
	regulator-boot-on;
};

&mt6392_vemc3v3_reg {
	regulator-boot-on;
};

&mt6392_vm25_reg {
	regulator-always-on;
	regulator-boot-on;
};

&mt6392_vdig18_reg {
	regulator-always-on;
	regulator-boot-on;
};

&mt6392_vm_reg {
	regulator-always-on;
	regulator-boot-on;
};

&mt6392_vio18_reg {
	regulator-always-on;
	regulator-boot-on;
};

&mt6392_vrtc_reg {
	regulator-always-on;
	regulator-boot-on;
};